.main {
	top: 10%;
	font-family: "Josefin Sans" sans-serif;
	font-size: 10pt;
}

.blog-container {
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	position: absolute;
}

.blog-title {
	color: black;
	margin: 3em;
	font-weight: lighter;
	font-size: 1.25em;
	font-style: italic;
}

.post-titles {
	margin: 3em;
	list-style-type: none;
}

.post {
	margin: 2em;
	font-size: 2em;
	font-family: "Josefin Sans" sans-serif;
	font-style: none;

}

a:hover {
	text-decoration: none;
	font-weight: bold;
}

.previous-arrow {
	padding: 1em;
}

.next-arrow {
	padding: 1em;
}




