.main {
	font-size: 10pt;
}

.titles {
	/*margin-bottom: 5%;*/

}

.left-column {
	width: 40%;
	float: left;
	padding: 5%;
}

.right-column {
	width: 40%;
	float: right;
	padding: 5%;
}

.language-title {
	margin: auto;
	text-align: center;
	font-size: 1.5em;

}

.term {
	font-size: 1em;
	font-weight: bolder;
	color: #CC1139;

}

.columns {
	
}

.columns p {
	background-color: #F7F7F7;
	padding: 1em;
	font-family: "Times New Roman";
	line-height: 1.5;
}