/*stylesheet for index.html of my website homepage */
html {
	height: 100%;

}

.background_image {
	background-color: #048CCC;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
}

.offcenter-grad {
	background: #ffffff;
	background: -moz-radial-gradient(40%, ellipse cover, #ffffff 0%, #ffffff 0%, #3e606f 100%);
	background: -webkit-gradient(radial, 40% 40%, 0px, 40% 40%, 100%, color-stop(0%, #ffffff), color-stop(0%, #ffffff), color-stop(100%, #3e606f));
	background: -webkit-radial-gradient(40%, ellipse cover, #ffffff 0%, #ffffff 0%, #3e606f 100%);
	background: -o-radial-gradient(40%, ellipse cover, #ffffff 0%, #ffffff 0%, #3e606f 100%);
	background: -ms-radial-gradient(40%, ellipse cover, #ffffff 0%, #ffffff 0%, #3e606f 100%);
	background: radial-gradient(ellipse at 40%, #ffffff 0%, #ffffff 0%, #3e606f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3e606f', GradientType=1 );
}

a:hover {
	color: #CC1139;
}

.main_nav {
	position: absolute;
	left: 15%;
	top: 40%;
}

.name_logo {
	font-family: "Alex Brush" sans-serif;
	font-size: 35pt;
	text-decoration: none;
	color: black;
	margin: 0;
	padding: 0;
	border: none;
}

.icons {
	position: absolute;
}

.icon {
	list-style-type: none;
	height: 30px;
	margin-right: 45px;
	display: inline-block;
}

/*.icon-word {
	font-family: "Josefin Sans";
	font-size: 14pt;
	color: white;
	list-style-type: none;
	display: inline-block;
}*/

.shadow {
	text-shadow: -3px 3px #d3d3d3;
}

